
  body {
      position: relative;
      margin-top: 50px;
      overflow-x: hidden;

  }
  .nav1{
    overflow: hidden;
  }
  .nav2{
    font-family: Forte;
  }
  .nav3{
    font-family: Jokerman;
  }

  p{
        border: 1px;
        outline-color:#bdbdbd;

  }
  p.solid {outline-style: solid;}

  
  
  .html{
  	order: 1;
  }
  .css2{
  	order: 2;
  }
  .js3{
  	order: 3;
  }
  .git4{
  	order: 4;
  }
  span.highlight{
    background-color: #212121;
  }
  span.mark{
    background-color: #bdbdbd;
  }

  #section1 {padding-top:50px;height:500px;color: #fff; background-image: url("slider1.jpg");}
  #section2 {padding-top:50px;height:500px;color: #fff; background-image: url("jigsaw1.jpg"); height: auto;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #000000; display: inline-block;}
  #section4 {padding-top:50px;height:500px;color: #fff; }
  
  p{
    font-family: 'Judson'; color: #4e342e; font-size: 2vw;
  }
  .img1{
  	margin: auto;
}
.quo{
	background-color: #ffecb3; 
	font-family: 'Damion';
	font-size: 2vw;
  font-weight: bold;
	text-align: center;
	color: #2E2E2E;
  overflow: auto;
}
.edu{
  font-family: Arial Unicode MS;
}
.out{
  border: 1px solid red;
  box-sizing: border-box;
}

.bold{
  font-weight: bold;
}
.skillcolor{
  color: #212121;
  font-weight: bold;
}
ul{
	background-color: #424242;
}
h2{
	font-family: 'Orbitron';
	color: #212121;
}
.variable{
	border: 1px solid #39EA99;
  color: #39EA99;
  padding: 10px 15px;
  width: 60px;
  transition: 0.4s;
}
.variable:hover {
  background: #39EA99;
  color: white;
  transition: 0.4s;
}


 .header-image {
    display: block;
    width: 100%;
    text-align: center;
    background:  no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.design-div{
	margin: 80px 0;
}
.design{
	overflow: hidden;
}
.design-image.pull-right{
	margin-right: 40px; 
}
.design-image.pull-left{
	margin-left: 40px;
}
.design-heading{
	font-size: 50px;
}
@media(max-width:1200px) {
	.design-image{
		max-width: 80%;
	}
    .design-div {
        margin: 50px 20px;
    }
    .design-image.pull-left {
        margin-right: 20px;
    }

    .design-image.pull-right {
        margin-left: 20px;
    }

    .design-heading {
        font-size: 35px;
    }
}
@media(max-width:991px) {
    

    .design-div {
        margin: 40px 0;
    }

    .design-image {
        max-width: 50%;
    }

    .design-image.pull-left {
        margin-right: 10px;
    }

    .design-image.pull-right {
        margin-left: 10px;
    }

    .design-heading {
        font-size: 30px;
    }
}
@media(max-width:768px) {
   
    .design-div {
        margin: 40px 0;
    }

    .design-heading {
        font-size: 25px;
    }
}
@media(max-width:668px) {
   
    .design-div {
        margin: 30px 0;
    }
    .edu{
      font-size: 1.2em;
    }
    .quo{
      font-size: 1.5em;
    }
}
@media( max-width: 380px){
  .quo{
    font-size: 3.8vw;
  }
  .edu{
    font-size: 3.8vw;
  }
}

@media(max-width:250px) {
    .design-div {
        margin: 10px 0;
    }

    .design-image {
        max-width: 100%;
    }

    .design-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .design-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
    .edu{
      font-size: 2vw;
    }
}

